.users-dashboard {
  padding: 40px;
  font-family: "PT Sans Caption", sans-serif;
}

.user-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: black;
}
